    <footer>
        <section class="support-section">
        <p>
            I hope you're able to <span class="highlight">unwind</span>. <br>
            Please support me
        </p>
        
        <div class="support-buttons">
            <a href="https://www.patreon.com/14659843/join" target="_blank" class="patreon-button">
             From outside Nigeria? Support via Patreon
            </a>
            <a href="https://selar.com/showlove/adeosunoluwatimileyin" target="_blank" class="selar-button">
             From Nigeria? Support via Selar
            </a>
        </div>
        </section>
        <section class="copyright">
            <p>&copy; <%= new Date().getFullYear() %> Unwind With Adeosun. All rights reserved.</p>
        </section>
    </footer>
    <script src="/scripts.js"></script>
</body>
</html>