<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Unwind With Adeosun is a website where you can relax by reading jokes, playing games, and anonymously typing out your anger. Discover fun ways to de-stress and enjoy your free time!">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
            <% if(!user) { %>
                <li class="signup"><a href="/to_signup">Signup</a></li>
            <% } %>

            <li class="menu">
                Menu
                <ul class="menuList">
                    <li><a href="/">Home</a></li>
                    <li><a href="/discussions">Discussions</a></li>
                    <li><a href="/community">Community</a></li>
                    <li><a href="/jokes">Jokes</a></li>
                    <li><a href="/games">Games</a></li>
                    <li><a href="/about">About me</a></li>
                </ul>
            </li>
            <% if(!user) { %>
                <li class="login"><a href="/to_login">Login</a></li>
            <% } %>
            </ul>
        </nav>
    </header>
