<%- include("partials/header") %>
    <main>
        <section class="about-me">
            <div class="about-me-title">
                <h1>Unwind With Adeosun</h1>
            </div>
            <div class="about-app-txt">
                <p>This website is designed to create a space where people <strong>wind</strong> down and have fun by playing games, reading jokes, get motivated or otherwise get humbled if feeling too high 🙂, reading people's rant, and also discuss <strong>anything</strong>, yes anything, no matter how sensitive, because it is all <strong>anonymous 🤡</strong>.</p>
            </div>
        </section>
        <section class="about-me">
            <div class="about-me-title">
                <h1>Adeosun Oluwatimileyin Olanrewaju</h1>
            </div>
            <div class="about-me-txt">
                <p>Hey, I hope you're able to <bold>wind down</bold>. I just wanna pitch for myself also. I am a full stack web developer, proficient in:</p>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Javascript</li>
                    <li>Express.Js</li>
                    <li>Node.Js</li>
                    <li>EJS</li>
                    <li>PostgreSQL</li>
                    <li>Git and Github</li>
                </ul>
                <p>I am also a student of the <bold>University of Ibadan</bold>, studying <bold>Biochemistry</bold>. I can help you design a responsive and  user-friendly websites. Whether it’s crafting sleek interfaces, building secure backends, or integrating dynamic features, I approach every project with creativity, precision, and a drive for excellence. <br> <br>Please reach out to me via my email: <a href="mailto:oluwatimileyinadeosun@gmail.com">oluwatimileyinadeosun@gmail.com</a></p>
            </div>
        </section>

    </main>
<%- include("partials/footer") %>