<%- include('partials/header') %>
<main>
  <section class="games-title">
    <h1>Games</h1>
  </section>
  <section class="links">
    <div class="quickLink">
      <a href="/quiz">
        <div class="jokeBg"></div>
        <div class="linkTxt">
          <p>Quiz</p>
        </div>
      </a>
    </div>
    <div class="quickLink">
      <a href="/rps">
        <div class="jokeBg"></div>
        <div class="linkTxt">
          <p>Rock Paper Scissors</p>
        </div>
      </a>
    </div>
    <div class="quickLink">
      <a href="/normal-riddle">
        <div class="jokeBg"></div>
        <div class="linkTxt">
          <p>Word Riddle</p>
        </div>
      </a>
    </div>
    <div class="quickLink">
      <a href="/emoji-riddle">
        <div class="jokeBg"></div>
        <div class="linkTxt">
          <p>Emoji Riddle</p>
        </div>
      </a>
    </div>
    <div class="quickLink">
      <a href="/word-anagram">
        <div class="jokeBg"></div>
        <div class="linkTxt">
          <p>Word Anagram</p>
        </div>
      </a>
    </div>
  </section>
</main>
<%- include('partials/footer') %>
