<%- include("partials/header") %>

<main>
  <section class="jokes">
    <h1 class="joke-title">
      Jokes to Unwind Your Day
    </h1>
    <div class="joke-card">
      <p id="joke-text">Loading..</p>
      <button id="next-btn">Next Joke</button>
    </div>
  </section>
</main>

<script src="/jokes.js"></script>
<%- include("partials/footer") %>
